{% extends 'base.html' %}

{% block title %}Credential{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">

            <div class="single-post-home">

                <h5>
                      Credential ID:  {{ credential.credential_id }}
                </h5>

            <p class="p-small-two text-muted">
                   State: {{ credential.state}}
                </p>

                 <p class="p-small-two text-muted">
                   Connection ID: {{ credential.connection_id }}
                </p>

{%if credential.state=="Issued"%}
                 <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#revokeCredentialModal">
                    Revoke
                </button>

{% endif %}
            </div>


        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}
        </div>

    </div>
</div>


{% include 'credential_revoke_modal.html' %}
{% endblock %}