{% extends 'base.html' %}

{% block title %}Templates{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            {% for credential in credential_definitions %}
            <div class="single-post-home">
                <h5>
                        {{ credential.name }}
                </h5>

                 <p class="p-small-two text-muted">
                   Versione: {{ credential.version }}
                </p>

                   <p class="p-small-two text-muted">
                    Revocable: {{ credential.supports_revocation }}
                </p>

                <p class="p-small-two text-muted">

                   Schema ID: {{ credential.schema_id }}
                </p>


                <p class="p-small-two text-muted">
                 Definition ID:   {{ credential.definition_id }}
                </p>
<br>
                  <p class="p-small-two text-muted">
                      <a class="read-more" href="{{ url_for('template_detail', definition_id=credential.definition_id) }}">Definition details</a>
                    </p>


            </div>
            {% endfor %}

        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}
        </div>

    </div>
</div>
{% endblock %}