{% extends 'base.html' %}

{% block title %}Credentials - Connection{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            {% for credential in credentials %}
            <div class="single-post-home">
                <h5>
                       State: {{ credential.state }}
                </h5>

                <p class="p-small-one text-muted mb-0">
                   Definition ID: {{ credential.definition_id }}
                </p>
<br>
                  <p class="p-small-two text-muted">
                      <a class="read-more" href="{{ url_for('credential_detail', credential_id=credential.credential_id) }}">Credential details</a>
                    </p>


            </div>
            {% endfor %}

        </div>

        <div class="col-md-3 order-md-1">
            <a class="btn btn-sm btn-outline-success mr-1" href="{{ url_for('send_credential', connection_id=connection_id) }}">Offer credential</a>
        </div>

    </div>
</div>
{% endblock %}