{% extends 'base.html' %}

{% block title %}Policies{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            {% for verification in verification_policies %}
            <div class="single-post-home">
                <h5>
                        {{ verification.name }}
                </h5>

                 <p class="p-small-two text-muted">
                  policy ID:  {{ verification.policy_id }}
                </p>
<br>
                 <p class="p-small-two text-muted">
                      <a class="read-more" href="{{ url_for('policy_detail', policy_id=verification.policy_id) }}">Policy details</a>
                    </p>


            </div>
            {% endfor %}

        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}
        </div>

    </div>
</div>
{% endblock %}