{% extends 'base.html' %}

{% block title %}Issue credential{% endblock %}

{% block content %}
<div class="container text-center mt-3">
    <h2>Issue a new credential to this connection</h2>
    <div class="row no-gutters justify-content-center">
        <div class="col-md-4">

            <form method="POST" novalidate>

                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.first_name.label }}
                    {{ form.first_name(class="form-control") }}
                    {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.last_name.label }}
                    {{ form.last_name(class="form-control") }}
                    {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.agency_name.label }}
                    {{ form.agency_name(class="form-control") }}
                    {% if form.agency_name.errors %}
                    {% for error in form.agency_name.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.role.label }}
                    {{ form.role(class="form-control") }}
                    {% if form.role.errors %}
                    {% for error in form.role.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>


                       <div class="form-group">
                    {{ form.LIID.label }}
                    {{ form.LIID(class="form-control") }}
                    {% if form.LIID.errors %}
                    {% for error in form.LIID.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>





                {{ form.submit(class="btn btn-outline-secondary") }}
            </form>

        </div>
    </div>
</div>
{% endblock %}